{% extends "base.html" %}
{% block body %}
<h2>Add New Member</h2>

  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}

  <form class="form-horizontal" action="{{ url_for('add_member', team_id=team_id) }}" method=post>
    {{ form.hidden_tag() }}

    <div class="form-group">
      <label for="inputName" class="col-sm-1 control-label">{{ form.name.label }}</label>
      {{ form.name }}
    </div>

    <div class="form-group">
      <label for="inputWeight" class="col-sm-1 control-label">{{ form.weight.label }}</label>
    {{ form.weight }}
    </div>

    <div class="form-group">
      <label for="inputHeight" class="col-sm-1 control-label">{{ form.height.label }}</label>
    {{ form.height }}
    </div>

    <div class="form-group">
      <label for="inputRole" class="col-sm-1 control-label">{{ form.role.label }}</label>
    {{ form.role }}
    </div>

    <div class="form-group">
      <label for="inputPaddleSide" class="col-sm-1 control-label">{{ form.paddle_side.label }}</label>
    {{ form.paddle_side }}
    </div>

    <div class="form-group">
      <label for="inputDateOfBirth" class="col-sm-1 control-label">{{ form.date_of_birth.label }}</label>
    {{ form.date_of_birth }}
    </div>

    <div class="form-group">
    {{ form.submit }}
    </div>
  </form>
{% endblock %}
