{% extends "base.html" %}
{% block body %}
<div class="container">
  <h1>Race Result for {{ regatta['name'] }}</h1>
  <div>Average Time: {{ average_time }}</div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Time Seconds</th>
        <th>Team Name</th>
      </tr>
    </thead>
    <tbody>
      {% for raceResult in raceResults %}
        <tr>
          <td>{{raceResult["ranking"]}}</td>
          <td>{{raceResult["timeSeconds"]}}</td>
          <td>{{raceResult["name"]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
