{% extends "base.html" %}
{% block body %}
<div class="container">
  <h2>Dragonboat Regattas</h2>
  <a href="{{ url_for('new_regatta') }}", class="btn btn-primary">Add New Regatta</a>
  <form action="" method="post">
    <input type="input" name="search-input"></input>
    <input type="submit" name="search-button" value="Search Regattas" class="btn btn-primary"></input>
  </form>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>regattaId</th>
        <th>raceLength</th>
        <th>name</th>
        <th>location</th>
        <th>raceDate</th>
        <th>regionCity</th>
        <th>regionProvince</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for regatta in regattas %}
      	<tr>
      		<td>{{regatta["regattaId"]}}</td>
      		<td>{{regatta["raceLength"]}}</td>
          <td>{{regatta["name"]}}</td>
          <td>{{regatta["location"]}}</td>
          <td>{{regatta["raceDate"]}}</td>
      		<td>{{regatta["regionCity"]}}</td>
      		<td>{{regatta["regionProvince"]}}</td>
          <td>
            <a href="{{ url_for('showraceresults', regatta_id=regatta["regattaId"])}}" class="btn btn-info">Show Race Result</a>
          </td>
          <td>
            <form action="{{url_for('delete_regatta', regatta_id=regatta['regattaId'])}}" method="post">
              <input class="btn btn-danger" type="submit" value="delete">
            </form>
          </td>
      	</tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
