{% extends "base.html" %}
{% block body %}
<div class="container">
  <h1>{{ team['name'] }}</h1>
  <h2>Dragonboat Members</h2>
  <a href="{{ url_for('add_member', team_id=team['teamId']) }}" class="btn btn-primary">Add Member</a>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Member Name</th>
        <th>Weight</th>
        <th>Height</th>
        <th>Role</th>
        <th>Paddle Size</th>
        <th>Date Of Birth</th>
        <th>Delete Member</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
        <tr>
          <td>{{member["memberId"]}}</td>
          <td>{{member["memberName"]}}</td>
          <td>{{member["weight"]}}</td>
          <td>{{member["height"]}}</td>
          <td>{{member["role"]}}</td>
          <td>{{member["paddleSide"]}}</td>
          <td>{{member["dateOfBirth"]}}</td>
          <td>
            <form action="{{url_for('delete_member_path', team_id=team['teamId'], member_id=member['memberId'])}}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input class="btn btn-primary" type="submit" value="delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
