{% extends "base.html" %}
{% block body %}
<div class="container">
  <h2>All Dragonboat Teams</h2>
  <form action="" method="post">
    <input type="input" name="search-input"></input>
    <input type="submit" name="search-button" value="Search Team" class="btn btn-primary"></input>
    <input class="btn btn-warning" type="reset" value="Reset">
  </form>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Team ID</th>
        <th>Team Name</th>
        <th>Practice Cost</th>
        <th>Admin ID</th>
        <th>City</th>
        <th>Province</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}
      	<tr>
      		<td>
              <form action="{{ url_for('showteam', team_id=team["teamId"]) }}">
                <input class="btn btn-primary" type="submit" name="team" value={{team["teamId"]}}></input>
              </form>
            </td>
      		<td>{{team["name"]}}</td>
      		<td>{{team["practiceCost"]}}</td>
      		<td>{{team["username"]}}</td>
      		<td>{{team["regionCity"]}}</td>
      		<td>{{team["regionProvince"]}}</td>
      	</tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
